// Fonts for the website:

$FontForHeaders: 'Exo', sans-serif;
$FontForParas: 'Lato', sans-serif;

//Commonly Used Colors for layout of website:

$red: rgba(150, 40, 27, 1);
$gray: rgba(236, 240, 241, 1);
$blue: rgba(44, 62, 80, 1);

//breakpoint for media sizing

$minPhone-width: 200px;
$tablet: 600px;