
//navBar related mixins:

@mixin unOrList {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

@mixin listItems {
    float: left;
}

@mixin AlistItem {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: $FontForHeaders;
}