
//navBar related mixins:

@mixin flexNav {
    display: flex;
}

@mixin unOrList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

@mixin listItems {
    display: inline-flex;
}

@mixin AlistItem {
    display: inline-flex;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: $FontForHeaders;
}