@import 'mixins';

@import 'colors_fonts_media';

ul {
    .navBarLogo {
        @include unOrList;
        flex:6;
        padding-left: 100px;
        li {
            img {
                height: 90px;
                padding: 15px;
                padding-left: 3px;
            }
        }
    }
}

ul {
    @include flexNav;
    .navBarLinks {
        @include unOrList;
        flex:6;
        li {
            @include listItems;
            a {
                @include AlistItem;
            }
        }
    }
}

ul {
    .navBarLinks {
        h1 {
            font-family: $FontForHeaders;
            font-size: 30px;
            font-weight: 900;
            text-align: justify;
            padding-left: 100px;
        }
    }
}

.slideshow {
    padding: 10px;
    max-width: auto;
    max-height: auto;
    position: absolute;
    margin: auto;
}