@import 'mixins';

@import 'colors_fonts_media';

ul {
    @include flexNav;
    .navBarLinks {
        @include unOrList;
        padding-top: 40px;
        flex:3;
        li {
            @include listItems;
            a {
                @include AlistItem;
            }
        }
    }
}

ul {
    .navBarLogo {
        @include unOrList;
        flex:3;
        padding-left: 100px;
        li {
            img {
                height: 90px;
                padding: 15px;
                padding-left: 3px;
            }
        }
    }
}